// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-base: 'Poppins', sans-serif;
$font-family-thin: 'Poppins-Thin', sans-serif;
$font-family-bold: 'Poppins-Bold', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white:#FFFFFF;
$blue: #4096FF;
$light-blue: #6DBBE3;
$light-grey:#979797;
$grey:#72809D;
$grey-background:#F7F8FF;
$dark-grey:#2A3F58;
$bluesh-white:#FAFCFE;
$orange:#F9A826;
$yellow:#FFBC47;
$red-alert:#FD005C;
$input-placeholder-color:#FAFCFE;
$violet-color:#989FFF;
$success-green:#A7E521;


$light-silver:#CCD2DE;

$border-radius:8px;
