@font-face {
    font-family: "inter";
    src: url('../assets/fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: "sora";
    src: url('../assets/fonts/sora-regular.ttf') format('truetype');
}