@import "mixins";



.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  @include transition(all, 300ms,ease-in-out);
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  @include transition(all, 450ms,ease);

}
